@font-face {
	font-family: 'mr_HangingLettersG';
	src: url('../fonts/mr_hanginglettersg.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'laCartoonerie';
	src: url('../fonts/laCartoonerie.ttf') format('truetype'); /* IE 9 Compatibility Mode */
}